.App{
    margin:30px 20px;
}
.accordion {
    margin-left:auto;
    margin-right:auto;
    overflow-anchor: none;
    max-width: 1000px;
}
.items{
    margin:20px;
    max-width:700px;
}
.card.item{
    border-radius:20px!important;
    margin-bottom:15px;
    overflow:hidden;
    border: 1px solid #ccc!important;
}
.card.item button{
    padding:0;
    margin:0;
    border:0;
}
.card-header.title{
    font-weight:bold;
    text-align:left;
    border:none;
}
.card-body{
    border-top:1px solid #ccc!important;
}